.main 
{
background: #ced4da;
border-radius: 16px;
display: flex;
flex-direction: row;
align-items: left;
justify-items: center;
padding: 1rem;
}

.img
{
background: #ced4da;
display: flex;
flex-direction: column;
align-items: left;
justify-items: center; 

}

.info
{
    display: flex;
    flex-direction: column;
    align-items: left;   
margin-left: 20px;
padding: 1rem;
border-radius: 16px;
background: #e9ecef;
}

